<!-- figurespage.component.html -->

<div class="page-content">
    <div class="sidebar">
        <!-- Controls for parameters -->
        <label>X1:</label>
        <input [(ngModel)]="p1.x" type="number" />
        <label>Y1:</label>
        <input [(ngModel)]="p1.y" type="number" />

        <label>X2:</label>
        <input [(ngModel)]="p2.x" type="number" />
        <label>Y2:</label>
        <input [(ngModel)]="p2.y" type="number" />

        <label>X3:</label>
        <input [(ngModel)]="p3.x" type="number" />
        <label>Y3:</label>
        <input [(ngModel)]="p3.y" type="number" />

        <label>A:</label>
        <input [(ngModel)]="a" type="number" />

        <label>B:</label>
        <input [(ngModel)]="b" type="number" />
    </div>
    
    <div class="graph">
        <!-- Use the graph component with the parameters -->
        <graph [p1]="p1" [p2]="p2" [p3]="p3" [a]="a" [b]="b"></graph>
    </div>
</div>
