.header-menu{
    display: flex;
    width: 1920px;
    height: 65px;
    padding: 8px 16px;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;

    margin: 0;
    padding: 0;
}


.logo {
    display: flex;
    margin-left: 20px;
    padding: 8px 0px;
    align-items: flex-start;

    color: var(--gray-100, #F8F9FA);

    /* Semi-Bold / H5 Heading */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.menu-button {
    display: flex;
    padding: 6px 16px;
    align-items: flex-start;

    color: var(--gray-400, #CED4DA);
}
