
<div class="page-content">
  <div class="main-title">Welcome</div>
  <div class="main-text">
    In ultricies fermentum aliquet. Pellentesque dui magna, condimentum non ullamcorper at, cursus in sem. 
    Nunc condimentum, purus ac enenatis commodo libero, am auctor porta tortor, nec consequat nibh finibus a. Sed ultrices risus 
    eget iaculis luctus. Mauris vel gravida magna.
  </div>
  <div class="button-menu">
    <button type="button" class="btn btn-secondary link-button" routerLink="/fractals">Fractals</button>
    <button type="button" class="btn btn-secondary link-button" routerLink="/figure-transformation">Figures transformation</button>
    <button type="button" class="btn btn-secondary link-button" routerLink="/color-schemas">Color schemas</button>
  </div>
</div>
