<div class="page-content">
    <div class="fractal-column">
        <div class="fractal-title">Vicsek Fractal</div>
        <div class="fractal-board">
            <vicsek-fractal [iterations]="iteration"></vicsek-fractal>
        </div>
        <div class="fractal-input-menu">
            <div class="fractal-input">
                <div class="input-group">
                    <span class="input-group-text">Iteration</span>
                    <div class="form">
                      <input #iterationInput type="text" class="form-control" required>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-secondary draw-button" (click)="drawFractal(iterationInput.value)">Draw</button>
        </div>
    </div>
    <div class="fractal-column">
        <div class="fractal-title">Newton Fractal</div>
        <div class="fractal-board">
            <newton-fractal [scale]="scale" [constant]="c" [colors]="colors"></newton-fractal>
        </div>
        <div class="fractal-input-menu">
            <div class="fractal-input">
                <div class="input-group">
                    <span class="input-group-text">Scale</span>
                    <div class="form">
                      <input #scaleInput type="text" class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="fractal-input">
                <div class="input-group">
                    <span class="input-group-text">#</span>
                    <div class="form">
                      <input #color1 type="text" class="form-control" required minlength="6" maxlength="6">
                    </div>
                </div>
            </div>
            <div class="fractal-input">
                <div class="input-group">
                    <span class="input-group-text">#</span>
                    <div class="form">
                      <input #color2 type="text" class="form-control" required minlength="6" maxlength="6">
                    </div>
                </div>
            </div>
            <div class="fractal-input">
                <div class="input-group">
                    <span class="input-group-text">#</span>
                    <div class="form">
                      <input #color3 type="text" class="form-control" required minlength="6" maxlength="6">
                    </div>
                </div>
            </div>
            <div class="fractal-input">
                <div class="input-group">
                    <span class="input-group-text">#</span>
                    <div class="form">
                      <input #color4 type="text" class="form-control" required minlength="6" maxlength="6">
                    </div>
                </div>
            </div>
            <div class="fractal-input">
                <div class="input-group">
                    <span class="input-group-text">#</span>
                    <div class="form">
                      <input #color5 type="text" class="form-control" required minlength="6" maxlength="6">
                    </div>
                </div>
            </div>

            <div class="fractal-input">
                <div class="input-group">
                    <span class="input-group-text">C</span>
                    <div class="form">
                      <input #cInput type="text" class="form-control" required>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-secondary draw-button" (click)="drawNewton(scaleInput.value,cInput.value, color1.value, color2.value, color3.value, color4.value, color5.value)">Draw</button>
 
        </div>
    </div>
</div>