<div class="page-content">
    <div class="fractal-column">
        <div class="fractal-title">Vicsek Fractal</div>
        <div class="fractal-board">
            <vicsek-fractal></vicsek-fractal>
        </div>
        <div class="fractal-input-menu">
            <div class="fractal-input">
                <div class="input-group">
                    <span class="input-group-text">Iteration</span>
                    <div class="form">
                      <input type="text" class="form-control" required>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-secondary draw-button">Draw</button>
        </div>
    </div>
    <div class="fractal-column">
        <div class="fractal-title">Newton Fractal</div>
        <div class="fractal-board">
            <newton-fractal></newton-fractal>
        </div>
        <div class="fractal-input-menu">
            <div class="fractal-input">
                <div class="input-group">
                    <span class="input-group-text">Scale</span>
                    <div class="form">
                      <input type="text" class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="fractal-color-menu">
                <input class="fractal-color-input">
                <input class="fractal-color-input">
                <input class="fractal-color-input">
            </div>
            <div class="fractal-color-menu">
                <input class="fractal-color-input">
                <input class="fractal-color-input">
                <input class="fractal-color-input">
            </div>
            <div class="fractal-color-menu">
                <input class="fractal-color-input">
                <input class="fractal-color-input">
                <input class="fractal-color-input">
            </div>
            <div class="fractal-color-menu">
                <input class="fractal-color-input">
                <input class="fractal-color-input">
                <input class="fractal-color-input">
            </div>
            <div class="fractal-color-menu">
                <input class="fractal-color-input">
                <input class="fractal-color-input">
                <input class="fractal-color-input">
            </div>

            <div class="fractal-input">
                <div class="input-group">
                    <span class="input-group-text">C</span>
                    <div class="form">
                      <input type="text" class="form-control" required>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-secondary draw-button">Draw</button>
        </div>
    </div>
</div>