
    <div class="learn-more">
      <div class="div">
       
        <div class="display-headings"><h1>Learn more</h1></div>

          <h3 class="p">
          Documentation and examples for Bootstrap’s media object to construct highly repetitive components like blog
          comments, tweets, and the like.
        </h3>
        <p class="text-wrapper-3">
          Fractals are geometric patterns characterized by self-similarity, meaning they exhibit similar structures at various scales. These intricate and often beautiful shapes are generated through mathematical 
          formulas and iterative processes. Notable examples include the Mandelbrot set, Julia set, Sierpinski triangle, and the Koch snowflake.
        </p>
        <div class="overlap"><img class="image" src="../../../assets/newton-fractal.png" /></div>
        <div class="text-wrapper-4"><a href="https://fractalfoundation.org/resources/what-are-fractals/#:~:text=Fractals%3A%20A%20fractal%20is%20a,in%20an%20ongoing%20feedback%20loop.">
          Fractals
        </a></div>
        <p class="text-wrapper-5">
          A Newton fractal is a type of fractal generated through iterative root-finding using Newton's method, a numerical technique for finding roots of a real-valued function
        </p>
        <div class="rectangle"></div>
        <div class="overlap-group-2"><img class="image" src="../../../assets/viescek-fractal.png" /></div>
        <div class="text-wrapper-6"><p routerLink="/viescek-learn">Viecsek fractal</p></div>
        <p class="text-wrapper-7">
          The Vicsek fractal, often associated with the Vicsek snowflake, is created by recursively replacing equilateral triangles with smaller equilateral triangles.
        </p>
        <div class="rectangle-2"></div>
        <div class="overlap-2"><img class="image" src="../../../assets/chaos-theory.png" /></div>
        <div class="text-wrapper-8"><a href="https://study.com/academy/practice/quiz-worksheet-chaos-theory.html">Chaos theory</a></div>
        <p class="text-wrapper-9">
          Chaos theory is a branch of mathematics and physics that studies the behavior of dynamic systems that are highly sensitive to initial conditions.
        </p>
        <div class="overlap-group"><img class="image" src="../../../assets/newton-fractal.png" /></div>
        <div class="text-wrapper-10"><p routerLink="/newton-learn">Newton fractal</p></div>
        <div class="title"><div class="text-wrapper-11"><h2>Media Object</h2></div></div>
      </div>
    </div>