
    <div class="learn-more">
      <div class="div">
       
        <div class="display-headings"><h1>Learn more</h1></div>

          <h3 class="p">
          Documentation and examples for Bootstrap’s media object to construct highly repetitive components like blog
          comments, tweets, and the like.
        </h3>
        <p class="text-wrapper-3">
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
          vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
          lacinia congue felis in faucibus.
        </p>
        <div class="overlap"><img class="image" src="../../../assets/newton-fractal.png" /></div>
        <div class="text-wrapper-4">Fractals</div>
        <p class="text-wrapper-5">
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
          vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
          lacinia congue felis in faucibus.
        </p>
        <div class="rectangle"></div>
        <div class="overlap-group-2"><img class="image" src="../../../assets/viescek-fractal.png" /></div>
        <div class="text-wrapper-6">Viecsek fractal</div>
        <p class="text-wrapper-7">
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
          vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
          lacinia congue felis in faucibus.
        </p>
        <div class="rectangle-2"></div>
        <div class="overlap-2"><img class="image" src="../../../assets/chaos-theory.png" /></div>
        <div class="text-wrapper-8">Chaos theory</div>
        <p class="text-wrapper-9">
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
          vestibulum in vulputate at, tempus viverra turpis. Fusce condimlputate fringilla. Donec lacinia congue felis
          in faucibus.
        </p>
        <div class="overlap-group"><img class="image" src="../../../assets/newton-fractal.png" /></div>
        <div class="text-wrapper-10">Newton fractal</div>
        <div class="title"><div class="text-wrapper-11"><h2>Media Object</h2></div></div>
      </div>
    </div>