
    <div class="color-schemes">
      <div class="div">
        <canvas #canvas class="image-container"></canvas>
        <div class="overlap">
            <input type="file" #fileInput style="display: none" (change)="handleFileInput($event)" accept="image/*">
            <button class="btn btn-secondary custom-button" (click)="openFileExplorer()">
                Load image
            </button>
        </div>
        <div class="overlap-group">
            <button class="btn btn-secondary custom-button" (click)="saveImage()">
                Save/Export Image
            </button>
        </div>
        <div class="overlap-2" (click)="onShowOriginal()">
            <button class="btn btn-secondary custom-button">
                Show Original image
              </button>
        </div>
        <div class="display-headings">Сolor schemas</div>
        <div class="input">
            <div class="fractal-input">
                <div class="input-group">
                    <span class="input-group-text">X</span>
                    <div class="form">
                      <input #scaleInput type="text" class="form-control" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="input-2">
            <div class="fractal-input">
                <div class="input-group">
                    <span class="input-group-text">Y</span>
                    <div class="form">
                      <input #scaleInput type="text" class="form-control" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="input-3">
            <div class="fractal-input">
                <div class="input-group">
                    <span class="input-group-text">Width</span>
                    <div class="form">
                      <input #scaleInput type="text" class="form-control" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="input-4">
            <div class="fractal-input">
                <div class="input-group">
                    <span class="input-group-text">Height</span>
                    <div class="form">
                      <input #scaleInput type="text" class="form-control" required>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    
    <div class="range-title">
        Change HSL value component of the yellow CMYK parameter
    </div>

    <div class="range-slider">
        <input class="w-50" type="range" id="slider" min="20" max="80" [value]="sliderValue" (input)="onSliderChange($event)">
    </div>

